{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-to-Image</title>
    <link rel="stylesheet" href="{% static 'css/TTO-style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #button {
            background-color: rgb(86, 169, 241);
            color: black;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="../" class="logo" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">ChatGPTürk</a>
            <ul class="nav-links">
                <li><a href="medical-assistant-model" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Medical Assistant</a></li>
                <li><a href="pdf-converter-model" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">PDF Converter</a></li>
                <li><a href="image-responser-model" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;">Image Responser</a></li>
                <li><a href="image-responser-model" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;">News Classifier</a></li>
            </ul>
        </div>
    </nav>
    <main class="container text-to-image">
        <form id="generateForm">
            <input type="text" name="prompt" id="prompt" placeholder="Enter your prompt here...">
            <button class="mt-2" id="button" type="submit">Generate Image</button>
        </form>
        <div id="loader" class="d-none text-center mt-3">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="image-output">
            <canvas id="generatedCanvas" width="800" height="400" style="border:1px solid #d3d3d3;">
                <img id="generatedImage" class="img-fluid" alt="Generated Image" style="display: none;">
            </canvas>
        </div>
        <!-- Yükleme spinner'ı -->
    </main>
    <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('generateForm').addEventListener('submit', function(e) {
            e.preventDefault();
            submitPrompt();
        });

        function submitPrompt() {
            const prompt = document.getElementById('prompt').value;
            const canvas = document.getElementById('generatedCanvas');
            const ctx = canvas.getContext('2d');
            const loader = document.getElementById('loader');
            
            if (prompt.trim() === "") {
                alert("Lütfen bir metin giriniz...");
                return;
            }

            // Yükleme spinner'ını göster
            loader.classList.remove('d-none');

            // Clear the canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            fetch('{% url "generate_image_view" %}', {
                method: 'POST',
                body: JSON.stringify({ prompt: prompt }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(imageBlob => {
                const imageUrl = URL.createObjectURL(imageBlob);
                const image = document.getElementById('generatedImage');
                image.src = imageUrl;
                image.onload = () => {
                    ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                    // Yükleme spinner'ını gizle
                    loader.classList.add('d-none');
                };
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
                // Yükleme spinner'ını gizle
                loader.classList.add('d-none');
            });
        }
    </script>
</body>
</html>
